$primary: #0969A2;
$primary-dark: #011E4D;
$primary-light: #62C2E3;
$primary-lighter:#CBF4FA;

$secondary: #FFB000;
$secondary-dark: #7A4400;
$secondary-light: #FFD966;
$secondary-lighter:#FFF5CC;

$success: #1A7C22;
$success-dark: #043B1D;
$success-light: #7BD771;
$success-lighter:#DCF8D1;

$danger: #CE1E1E;
$danger-dark: #620526;
$danger-light: #F08A75;
$danger-lighter:#FCE0D1;

$warning: #FF5900;
$warning-dark: #7A0B00;
$warning-light: #FFAE66;
$warning-lighter:#FFEACC;

$info: #0077CC;
$info-dark: #002261;
$info-light: #5FC4EF;
$info-lighter:#C9F2FC;

$d-primary: #075482;
$d-primary-dark: #01183E;
$d-primary-light: #196D89;
$d-primary-lighter:#07454E;

$d-secondary: #CC8D00;
$d-secondary-dark: #623600;
$d-secondary-light: #8F6B00;
$d-secondary-lighter:#524200;

$d-success: #15631B;
$d-success-dark: #032F17;
$d-success-light: #407D23;
$d-success-lighter:#27480B;

$d-danger: #A51818;
$d-danger-dark: #4E041E;
$d-danger-light: #81220E;
$d-danger-lighter:#4B1E05;

$d-warning: #CC4700;
$d-warning-dark: #620900;
$d-warning-light: #8F4300;
$d-warning-lighter:#523000;

$d-info: #005FA3;
$d-info-dark: #001B4E;
$d-info-light: #0E688E;
$d-info-lighter:#044251;

$colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "secondary": $secondary,
  "secondary-dark": $secondary-dark,
  "secondary-light": $secondary-light,
  "secondary-lighter": $secondary-lighter,
  "success": $success,
  "success-dark": $success-dark,
  "success-light": $success-light,
  "success-lighter": $success-lighter,
  "danger": $danger,
  "danger-dark": $danger-dark,
  "danger-light": $danger-light,
  "danger-lighter": $danger-lighter,
  "warning": $warning,
  "warning-dark": $warning-dark,
  "warning-light": $warning-light,
  "warning-lighter": $warning-lighter,
  "info": $info,
  "info-dark": $info-dark,
  "info-light": $info-light,
  "info-lighter": $info-lighter,
  "body-color": #212529,
  "body-bg": #ffffff,
) !default;

$darkmode-colors: (
  "primary": $d-primary,
  "primary-dark": $d-primary-dark,
  "primary-light": $d-primary-light,
  "primary-lighter": $d-primary-lighter,
  "secondary": $d-secondary,
  "secondary-dark": $d-secondary-dark,
  "secondary-light": $d-secondary-light,
  "secondary-lighter": $d-secondary-lighter,
  "success": $d-success,
  "success-dark": $d-success-dark,
  "success-light": $d-success-light,
  "success-lighter": $d-success-lighter,
  "danger": $d-danger,
  "danger-dark": $d-danger-dark,
  "danger-light": $d-danger-light,
  "danger-lighter": $d-danger-lighter,
  "warning": $d-warning,
  "warning-dark": $d-warning-dark,
  "warning-light": $d-warning-light,
  "warning-lighter": $d-warning-lighter,
  "info": $d-info,
  "info-dark": $d-info-dark,
  "info-light": $d-info-light,
  "info-lighter": $d-info-lighter,
  "body-color": #ffffff,
  "body-bg": #343A40,
) !default;
